body {
  min-height: 75rem;
  padding-top: 6rem;
}
.mm-logo {
  width: 40px;
  padding-right: 10px;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search {
  background-color: black;
  color: bisque;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  /*background: grey;*/
  /*box-shadow: rgba(8, 8, 8, 0.2) 0px 7px 29px 0px;*/
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin-bottom: 30px;
}

.full-height {
  min-height: 100%;
    height: 70vh;
}

.opaque {
  opacity : 1
}

.width-inherit {
  position:relative;
width: calc(100% - 30px);
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.wallet-address{
  font-size: .8rem;
}
.chainId{
  font-size: .6rem;
}

.mouse{
  cursor: pointer;
}

.shiftup{
  transform: translateY(-20px);
}

.shadowSpecial{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.iframe-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  position: relative;
    overflow: hidden;
}
.iframe-wrapper iframe {
  display: block;
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


